.item_container {
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 238, 238, 1);
  max-width: 500px;
  border-radius: 10px;
  padding: 10px 20px;
  gap: 5px;
  align-self: center;
}
.item {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  gap: 50px;
}

.item_charcode {
  display: flex;
  align-items: center;
  svg {
    cursor: pointer;
  }
}
@media screen and (max-width: 400px) {
  .item {
    gap: 10px;
  }
  .item_container {
    max-width: 330px;
  }
}
