.currency_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.input {
  align-self: center;
  outline: none;
  border-radius: 8px;
  border: 1px solid blue;
  padding: 5px 10px;
  min-width: 300px;
}
.input::placeholder {
  color: grey;
}
.list_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  align-items: center;
}
